accelerate==0.24.1
datasets
sentencepiece!=0.1.92
transformers==4.44.2
pdbpp
notebook
protobuf==3.20.*
pyyaml
pynvml
hydra-core
evaluate
nltk
absl-py
rouge_score
deepchem
selfies
tabulate
schedule
scikit-learn
fsspec==2023.6.0
rdkit
rouge
bert_score
python-levenshtein==0.12.2
deepspeed
ogb
peft
salesforce-lavis
pytorch-lightning
wandb
tensorboard
torch-geometric
tqdm
numpy